.container {
  height: auto;
  width: auto;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

/* Video */

.videoContainer {
  height: 200px;
  width: 350px;
  margin: 2rem auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 0;
  transition: width 300ms;
}

.video {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

@media (min-width: 640px) {
  .videoContainer {
    height: 280px;
    width: 500px;
  }
}

@media (min-width: 768px) {
  .videoContainer {
    height: 340px;
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .videoContainer {
    height: 395px;
    width: 700px;
  }
}

/* Image */

.imageContainer {
  height: 100%;
  width: 100%;
  top: 0px;
  position: absolute;
  pointer-events: none;
  z-index: 5;
  transition: opacity 0.5s, background-color 0.5s;
}

.imageContainer:hover {
  opacity: 0.15;
  background-color: green;
}

.imageOne,
.imageTwo,
.imageThree {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  z-index: 10;
}

.imageOne {
  top: 2.5%;
  left: 2.5%;
}

.imageTwo {
  top: 2.5%;
  left: 90%;
}

.imageThree {
  top: 45%;
  left: 45%;
}

.displayImage {
  display: block;
}

.hideImage {
  display: none;
}

@media (min-width: 640px) {
  .imageOne,
  .imageTwo,
  .imageThree {
    height: 2rem;
    width: 2rem;
  }
}

/* Buttons */

.buttonsContainer {
  height: auto;
  width: auto;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.videoControllerButton {
  width: 10rem;
  margin: 1rem auto;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .buttonsContainer {
    flex-direction: row;
  }

  .videoControllerButton {
    margin: 1rem;
  }
}

.videoControllerButtonOne {
  background-color: #059669;
}

.videoControllerButtonOne:hover {
  background-color: #34d399;
}

.videoControllerButtonTwo {
  background-color: #dc2626;
}

.videoControllerButtonTwo:hover {
  background-color: #f87171;
}

.videoControllerButtonThree {
  background-color: #d97706;
}

.videoControllerButtonThree:hover {
  background-color: #fbbf24;
}

.videoControllerButtonFour {
  background-color: #4f46e5;
}

.videoControllerButtonFour:hover {
  background-color: #818cf8;
}
